div#navigation(data-role="navbar")
    ul
        li
            a(class='ui-btn-active ui-state-persist', href='/') Home
        li
            a(href='/shipments') Shipments
        li
            a(href='/frogs/0/0') Frogs
        li
            a(href='/operations') Operations
        li
            a(href='/transfers') Transfers